<section>

<h1>Edit your personal information</h1>
<h3>Name: <%= current_user.fname %></h3>
<h3>Email: <%= current_user.email %></h3>

  <form class="form" action="/users/<%= @user.id %>" method="post">

  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="fname" value="<%= @user.fname %>">
  <input type="text" name="lname" value="<%= @user.lname %>">
    <input type="text" name="username" value="<%= @user.username %>">
  <input type="text" name="email" value="<%= @user.email %>">
  <input id="myInput" type="hidden" name="password" value="<%= @user.password_digest %>">


  <input type="submit" value="update" class="button">
</form>
</section>